# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.vs/
.idea/

# Env files
.env
.env.*

# Logs
*.log

# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS
.idea/
.vs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
bin/
lib/

# SQLite database files
*.db
*.sqlite3
*.db-journal
*.db-wal

# Logs and profiling
.pytest_cache/
.coverage
htmlcov/
.ipynb_checkpoints/

# Docker specific
.dockerignore